<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Password Generator Variables-->
		<add key="max_password_length" value="64" />
		<add key="amount_passwords" value="1"/>
		<add key="capital_letters" value="QWERTYUIOPASDFGHJKLZXCVBNM"/>
		
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</appSettings>
</configuration>